@font-face {
    font-family: 'uploadfont'; /* 自定义字体名称 */
    src: url('Rou.ttf') format('truetype'); /* 字体文件路径和格式 */
    
  }
  .loader {
    position: fixed;
    top: 50%; /* 从顶部垂直居中 */
    left: 50%; /* 从左侧水平居中 */
    transform: translate(-50%, -50%);
    border: 4px solid #f3f3f3;
    border-top: 4px solid #49a8c4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* 使用CSS动画 */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
#mute-button{
  position: absolute;
  z-index: 100;
  background:rgba(255, 255, 255, 0.394);
  border: none;
  border-radius: 20px;
  font-size: 3vh;
  top:2vh;
  right:2vw;
  transition: text-shadow 0.2s ease;
}
#mute-button:hover{
  text-shadow: 4px 4px 4px #49a7c4;
}

@media (max-aspect-ratio: 5/4) {
  h2{
    position: absolute;
    writing-mode: horizontal-tb;
    top:7vh;
    left:2vw;
    right:2vw;
    font-size: 2.5vh;
    text-align: center;

  }
  #q0{
    position: absolute;
    writing-mode:horizontal-tb;
    right: 0;
    width:99vw;
    text-align: center;
    font-size:1.7vh;
    top:15vh;
    transition: font-size 0.5s ease;
  }
  #q0:hover{
    font-size:1.8vh;
  }
  #q-1{
    position: absolute;
    font-size:1.8vh;
    writing-mode: vertical-rl;
    text-orientation: upright;
    top:29vh;
    right:8vw;
    height:auto;
  }
  /* #type{
    position: absolute;
    writing-mode: vertical-rl;
    top:13vh;
    right:0vw;
    height:auto;
    text-orientation: upright;
    font-size:1.8vh;
    letter-spacing: -0.5vh;;
    }
    #type p{
      margin-left: 3vw;
    }  */
  #start{
      position: absolute;
      /* white-space: nowrap; */
      /* display:flex;  */
      padding:2%;
      padding-left: 5%;
      padding-right:5%;
      top:43%;
      left:20%;
      font-size:3.5vh;
      font-weight: bolder;
      text-shadow: #FC0 1px 0 10px;
      background-color:rgba(255, 255, 255, 0.4);
      color: black;
      border: none;
      border-radius: 5px;
      justify-content: center;
      cursor: pointer;
      transition: background-color 0.8s ease;
      font-family: 'uploadfont', sans-serif;
  }
 
}

/* 使用媒体查询，在大屏幕上应用不同的样式 */
@media (min-aspect-ratio: 5/4) {
  #type{
    position: absolute;
    bottom:40vh;
    margin-bottom: 5vh;
    left:12vw;
    width: 78vw;
    height:auto;
    text-align: center;
    font-size:1.8vw;
    }
    #type p{
      margin-top: 3vh;
    } 
    h2{
      position: absolute;
      bottom:82vh;
      text-align: center;
      left:12vw;
      width: 78vw;
    }
   #start{
    bottom:30%;
    font-size: 3.5vh;
    font-weight: bolder;
   }
}
/* #type{
  position: absolute;
  bottom:50vh;
  left:12vw;
  width: 78vw;
  height:auto;
  text-align: center;
  font-size:1.5vw;
  /* white-space: nowrap; */


/* #type p{
  margin-top: 3vh;
}  */
.still {
  position: absolute;
  top:15vh;
    text-align: center;
    margin:5vw;
    font-size:5vw;
    opacity:0;
    z-index: 10;
    animation: appear 5s;
    animation-delay:7s;
}
/* #line1{
  position: absolute;
  opacity: 0;
  animation: introanim1 5s;
}
#line2{
  position: absolute;
    /* border-right: 2px solid transparent; */
   
@keyframes appear{
  20% { opacity:1 }
  to { opacity:1  }
}
/* 打印效果 */
/* @keyframes typing {
  from { width: 0; }
  to { width: 40vw; }
}
@keyframes typing2 {
  0%{
    opacity: 0;
    width: 0;}
  50% { 
    opacity: 1;
    width: 0; }
  100% { width: 34vw; }
} */

  .imgContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  }
  #gif{
    max-width: 100%;
  height: auto;
  }
  #bggif{
    height: 100vh;
  }
  .sketchContainer {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  }
/* 
  canvas {
    display: block;
  }
  
  #myContainer {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  } */
  #page8 .slider-container {
    position: absolute;
    display:flex;
    /* justify-self: center; */
    left:10%;
    right:10%;
    top: 15%;
  }
  #page9 .slider-container {
    position: absolute;
    display:flex;
    left:10%;
    right:10%;
    top: 15%;
  }
  #page7 .slider-container {
    position: absolute;
    /* display:flex; */
    /* justify-self: center; */
    left:10%;
    right:10%;
    bottom: 15%;
  }
  .slider{
    position: absolute;
   width:70%;
   top:25px;
   height:2px;
   background: #FC0;
   box-shadow: 10px 3px 10px #FC0;
  }
  .slider:hover{
    background: rgb(255, 255, 255);
  }
  
  .sliderValue{
    position: absolute;
    right:10px;
    top:0px;
    text-shadow: 10px 3px 10px #FC0;
  }
  
  .resultpage {
    height: 100vh; /* 单个页面的高度 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    background-color: #f0f0f0;
    transition: opacity 0.5s;
  }
  
  .resultpage.hidden {
    opacity: 0; /* 隐藏页面 */
  }
  .resultpage body{
    margin: 0;
  padding: 0;
  height: 200vh; /* 页面高度的总和 */
  }
body {
    /* margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; */
    background-image: url('pic/background.jpeg');
    font-family: 'uploadfont', sans-serif; /* 使用自定义字体，如果无法加载则使用默认 sans-serif 字体 */
    font-weight: bold;
    font-size:large;
    overflow: hidden;
    user-select: none;
  }
  #q1,#q2{
    position:absolute;
    font-size: 1.2rem;
    margin: 10vw;
    top:17vh;
  }
 
  #image1,#image2,#image3,#image4,#image5,#image6,#image7,#p9,#p10{
    top:0px;
    left:0px;
    position:fixed; 
    width: 100vw;
    height: 100vh;
    opacity: 0;
  }
  .intro{
    position:absolute;
    top:10vh;
    text-align: center;
    margin:5vw;
    z-index: 10;
    font-size:4vw;
  }
  #t1{
    opacity: 0;
    animation: introanim1 3s;
  }
 #t2{
    opacity: 0;
    animation: introanim2 5s;
    animation-delay: 3s;
 }

  @keyframes introanim1{
    0% {
      opacity: 1;
    }
    40%{
        opacity: 1;
  }
  100% {
    opacity: 0;
  }
  }
  @keyframes introanim2{
    0% {
      opacity: 0;
    }
    50%{
        opacity: 1;
  }
  100% {
    opacity: 0;
  }
  }
  #skip{
    position: absolute;
    font-size:small;
    top:3%;
    left:3%;
    background-color: rgb(255,168,0,50);
    padding:1%;
  }
  @keyframes floatup2 {
    0% {
      transform: translate(0%,0%) scale(1); 
      opacity: 0;
    }
    80%{
        transform: translate(0%,10%) scale(1.2); 
        opacity: 0.8;
  }
  100% {
    transform: translate(0%, 20%) scale(1.3); 
    opacity: 0;
  }
}
@keyframes floatup3 {
  0% {
    transform: translate(0%,20%) scale(1.3); 
    opacity: 0;
  }
  80%{
      transform: translate(0%,10%) scale(1.1); 
      opacity: 0.8;
}
100% {
  transform: translate(0%, 0%) scale(1); 
  opacity: 0;
}
}


  @keyframes floatup {
    0% {
      transform: translate(0%,0%) scale(1); 
      opacity: 0;
    }
    75%{
        transform: translate(0%,25%) scale(1.9); 
        opacity: 0.8;
  }
  100% {
    transform: translate(0%, 30%) scale(2); 
    opacity: 0;
  }
}

@keyframes floatup4 {
  0% {
    transform: translate(0%,0%) scale(1); 
    opacity: 0;
  }
  50%{
      transform: translate(40%,-10%) scale(1.9); 
      opacity: 0.8;
}
  70%{
    transform: translate(10%,40%) scale(1.9); 
      opacity: 0.6;
  }
100% {
  transform: translate(-50%, 0%) scale(2); 
  opacity: 0;
}
}
  #image1{ 
    animation: floatup 2s ;
  }

  #image2{
  animation: floatup 2s ;
  animation-delay: 2s;
}

#image3{
  animation: floatup 2s ;
  animation-delay: 4s;
}
#image4{
  animation: floatup 2s ;
  animation-delay: 6s;
}
#image5{
  animation: floatup 2s ;
  animation-delay: 8s;
}
#image6{
  animation: floatup 2s ;
  animation-delay: 10s;
}
#image7{
  animation: floatup 2s ;
  animation-delay: 12s;
}
#p9{
  animation: floatup2 3s ;
}
#p10{
  animation: floatup3 2s ;
  animation-delay: 2s;
}

#p11{
  top:0px;
    left:0px;
    position:fixed; 
    width: 100vw;
    height: 100vh;
    opacity: 1;
    animation: floatup4 6s;
}
#p11para,#p12para,#p13para{
  position: absolute;
  color:black;
  left:5%;
  top:20%;
  font-size:medium;
}
  .book {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; */
    overflow: hidden;
    background-size: contain;
    transform-style: preserve-3d;
    perspective: 1500px;
    font-weight: bold;
    transition: transform 3s cubic-bezier(0.22, 1, 0.36, 1);
}





		/* 定义size-up动画，使元素从初始状态缩放到35倍大小 */
		/* @keyframes size-up {
			from {
				transform: scale(0.1); 
			}
			to {
				transform: scale(35);
			}
		} */

		/* 将size-up动画添加到img元素中，使图片缩放到35倍大小 */

#page2 {
    background-image: url('pic/scene2_1wpic.jpeg');
    max-height: 100%;
    background-size:cover;
    background-position: center;
}

#page3 {
    background-image: url('pic/scene2_2wpic.jpeg');
    background-size:cover;
    background-position: center;
}

#page4 {
    background-image: url('pic/scene2_3wpic.jpeg');
    background-size:cover;
    background-position: center;
}
#page5 {
    background-image: url('pic/scene2_4wpic.jpeg');
    background-size:cover;
    background-position: center;
}
#page7 {
  background-image: url('pic/p12.jpg');
  background-size:cover;
  color:white;
  background-position: center;
}
#page8 {
  background-image: url('pic/p13.jpg');
  background-size:cover;
  color:white;
  background-position: center;
}
#page9 {
  background-image: url('pic/p14.jpg');
  background-size:cover;
  color:white;
  background-position: center;
}
#page11 {
  background-image: url('pic/p15.jpg');
  background-size:cover;
  color:white;
  background-position: center;
}
#page12 {
  background-image: url('pic/p15.jpg');
  background-size:cover;
  color:white;
  background-position: center;
}
#page13 {
  background-image: url('pic/p16.jpg');
  background-size:cover;
  color:white;
  background-position: center;
}
#page15 {
  background-image: url('pic/page15.jpg');
  background-size:cover;
  color:black;
  background-position: center;
}
  /* .book {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  } */
.start-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    height:10vh;
}
#start{
    position: absolute;
    display:flex; 
    padding:2%;
    padding-left: 5%;
    padding-right:5%;
    text-shadow: #FC0 1px 0 10px;
    background-color:rgba(255, 255, 255, 0.4);
    color: black;
    border: none;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.8s ease;
    font-family: 'uploadfont', sans-serif;
}
#start:hover{
    background-color: rgba(73, 168, 196, 0.3);
}
  /* .button-container {
    position: absolute;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    
} */
.result{
    position: fixed;
    top:10%;
    left:10%;
    right:10%;
}

.button {
    font-size: large;
    background-color:rgba(255, 255, 255, 0); 
    color: black;
    border: none;
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
    transition: font-size 0.3s ease;
    font-weight: bold;
    font-family: 'uploadfont', sans-serif;
  }
  #b1:hover,#b2:hover{
    background-color: #49a7c47c; 
  }
 #b1,#b2{
  transition: background-color 1s ease;
 }
.button:hover {

  font-size: larger;
}

#page2 p {
    display:inline-block;
    margin-left:70%;
    width: 15%;
    height: 48%;
    font-size: medium;
    writing-mode: vertical-rl;
    margin-top: 40px;
}
/* #page2 .button-container {
    position: absolute;
    display:flex;
    justify-self: center;
    left:20%;
    right:20%;
    bottom: 15%;
} */

#page2 #b1{
  position: absolute;
  left:23vw;
  bottom:22vh;
  font-size: 2rem;
  text-shadow: 6px 6px 5px #49a8c4;
  
}
#page2 #b2{
  position: absolute;
  right:23vw;
  bottom:22vh;
  font-size: 2rem;
  text-shadow: 6px 6px 5px #49a7c4;
}


#page3 p {
    display:inline-block;
    margin-left:50%;
    width: 40%;
    height: 20%;
    font-size: medium;
    margin-top: 55px;
}
/* #page3 .button-container {
    position: absolute;
    display:flex;
    justify-self: center;
    left:20%;
    right:20%;
    bottom: 15%;
} */
#page3 #b1{
  position: absolute;
  left:23vw;
  bottom:22vh;
  font-size: 2rem;
  text-shadow: 6px 6px 5px #49a8c4;
  
}
#page3 #b2{
  position: absolute;
  right:23vw;
  bottom:22vh;
  font-size: 2rem;
  text-shadow: 6px 6px 5px #49a8c4;
  
}


#page4 p {
    display:inline-block;
    margin-left:10%;
    width: 45%;
    height: 20%;
    font-size: medium;
    margin-top: 20%;
}
/* #page4 .button-container {
    position: absolute;
    display:flex;
    justify-self: center;
    left:55%;
    right:7%;
    top: 12%;
} */
#page4 #b1{
  position: absolute;
  right:35vw;
  top:12vh;
  font-size: 2rem;
  text-shadow: 6px 6px 5px #49a8c4;
}
#page4 #b2{
  position: absolute;
  right:10vw;
  top:12vh;
  font-size: 2rem;
  text-shadow: 6px 6px 5px #49a8c4;
}


#page5 p {
  display:inline-block;
  margin-left:15%;
  width: 45%;
  height: 20%;
  font-size: medium;
  margin-top: 29%;
}
/* #page5 .button-container {
    position: absolute;
    display:flex;
    justify-self: center;
    left:47%;
    right:7%;
    top: 25%;
} */

#page5 #b1{
  position: absolute;
  right:54vw;
  top:25vh;
  font-size: 2rem;
  text-shadow: 6px 6px 5px #49a8c4;
}
#page5 #b2{
  position: absolute;
  right:24vw;
  top:25vh;
  font-size: 2rem;
  text-shadow: 6px 6px 5px #49a8c4;
}
/* #page15 .button-container{
  position: absolute;
    display:flex;
    justify-self: center;
    left:55%;
    right:7%;
    top: 12%;
} */
#p15para{
  position: absolute;
  left:10%;
  width: 45%;
  height: 20%;
  font-size: medium;
  margin-top: 20%;
}
#page15 #b1{
  position: absolute;
  top:18vh;
  left:40vw;
  font-size: 2rem;
  text-shadow: 6px 6px 5px #49a8c4;
  margin-right:2%;
  
}
#page15 #b2{
  position: absolute;
  top:18vh;
  left:75vw;
  font-size: 2rem;
  text-shadow: 6px 6px 5px #49a7c4;
    margin-left:2%;
}
#p7para {
  display:inline-block;
  margin-left:10%;
  width: 45%;
  height: 48%;
  font-size: medium;
  margin-top: 23%;
}
#p8para, #p9para {
  display:inline-block;
  margin-left:6%;
  width: 60%;
  height: 40%;
  font-size: medium;
  margin-top: 20%;
}


#bird{
  height:100vh;
  width:100vw;
  opacity:0;
  animation: floatup5 2s;
}
#birdgif{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  opacity: 0;
  animation:Bird 3s;
}
#p15{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:200vw;
  z-index:-3;
  opacity: 0;
  animation: floatup6 7s;
}
#p16{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  z-index:-3;
  opacity: 0;
  animation: floatup7 4s;
  animation-delay: 5s;
}
#q3{
  position:absolute;
  top:30%;
  margin:8%;
  font-size: large;
  opacity:0;
  animation:floatup7 4s;
  animation-delay:5s;

}
/* #p17{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  z-index:-3;
  opacity: 0;
  animation: floatup8 2s;
  animation-delay: 7s;
}
#p18{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  z-index:-3;
  opacity: 0;
  animation: floatup9 4s;
  animation-delay: 8.5s;
} */
/* .conver{
  position:absolute;
  width:50vw;
  z-index:3;
  opacity: 0;
  font-size: small;
  animation: floatup9 14s;
} */
/* #lxconver{
  bottom:6vh;
  left:10vw;
} */
/* #p19{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  z-index:-3;
  opacity: 0;
  animation: floatup10 2s;
  animation-delay: 12s;
} */
#p22{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  opacity: 0;
  animation: birdfloat1 2s; 
}

#p23{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  opacity: 0;
  animation:birdfloat 5s ease;
}
@keyframes birdfloat1{
  0%{
    opacity:1;
  };
  100%{
    opacity:0;
  }
}
@keyframes birdfloat{
  0%{
    transform:translate(-10vw,-60vh);
    opacity:0;
  };
  50%{
    opacity:1;
  }
  70%{
    opacity:1;
  }
  85%{
    transform:translate(0,0);
  }
}
#p25{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  opacity: 0;
  animation: birdperson 4s;
  animation-delay: 7s;
}
#p26{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width: 100vw;;
  opacity: 0;
  animation: rubbish 7s;
  animation-delay: 10.5s;
}
#ljx{
  position:absolute;
  writing-mode: vertical-rl;
  top:8vh;
  left:5vw;
  height:auto;
  font-size: 1rem;
  opacity:0;
  animation:disappear 4s;
  animation-delay:13.5s;
}

#jingyi{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  opacity: 0;
  animation: jingyi 2s;
}
#p27{
  position:absolute;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  opacity: 0;
  animation: jingyi1 7s;
  animation-delay: 1s;
}
#jingyitf{
  position:absolute;
  top:13vh;
  right:50vw;
  writing-mode: vertical-rl;
  font-size: 2vh;
  height: 60vh;
  z-index: 4;
  opacity: 0;
  animation: disappear 6s;
  animation-delay: 1.5s;
}
#ball{
position: absolute;
left:-35vw;
top:-60vh;
opacity:0;
animation: disappear 5s;
animation-delay: 7.5s;
}
#thx{
  position: absolute;
  font-size: 3vh;
  left:25vw;
  top:40vh;
  text-shadow: 1px 1px 2px #49a7c4;
  opacity:0;
  animation: disappear 5s;
  animation-delay: 7.5s;
}
  

@keyframes jingyi {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0.4;
    transform: scale(4) translate(10vw,-40vh);
  }
}
@keyframes jingyi1{
  0%{
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
  80%{
    opacity:1
  }
}
@keyframes birdperson {
  40%{
    transform: scale(1.7) translate(-5vw,-17vh);
    opacity: 1;
}100%{
  opacity: 1;
  transform: scale(12) translate(-12vw,-40vh);
}
  
}
@keyframes rubbish {
  0%{
    opacity: 1;
    transform: scale(14) translate(-37vw,-28vh);
  }
  50%{
    opacity:1;
    transform:scale(1) translate(0vw,0vh);
  }
  
}
@keyframes floatup7{
  0%{
    transform: translate(80%,0) scale(1); 
    opacity: 0;
  }
  50%{
    transform: translate(0,0) scale(1); 
    opacity: 1;
  }
  100%{
    transform: translate(10%,-70%) scale(1); 
    opacity: 0;
  }
}
/* @keyframes floatup8{
  0%{
    transform: translate(10%,80%) scale(1); 
    opacity: 0;
  }
  50%{
    transform: translate(0,0) scale(1); 
    opacity: 1;
  }
  100%{
    transform: translate(-20%,20%) scale(1.5); 
    opacity: 0;
  }
} */
/* @keyframes floatup9{
  0%{
    transform: translate(0%,0%) scale(1); 
    opacity: 0;
  }
  25%{transform: translate(0,0) scale(1); 
    opacity: 1;

  }
  75%{
    transform: translate(0,0) scale(1); 
    opacity: 1;
  }
  100%{
    transform: translate(180%,-230%) scale(8); 
    opacity: 0;
  }
} */
/* @keyframes floatup10{
  0%{
    transform: translate(0%,0%) scale(1); 
    opacity: 0;
  }
  50%{
    transform: translate(0,0) scale(1); 
    opacity: 1;
  }
  100%{
    transform: translate(0%,-20%) scale(1); 
    opacity: 0;
  }
} */
@keyframes Bird{
  0%{
    transform: translate(0,0) scale(1); 
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  90%{
    opacity:1
  }
  100%{
    opacity: 0;
  }
}
@keyframes floatup5 {
  0% {
    transform: translate(0%,0%) scale(1); 
    opacity: 1;
  }
100% {
  transform: translate(-140%, -140%) scale(4); 
  opacity: 0;
}
}
@keyframes floatup6 {
  0% {
    transform: translate(0%,0%) scale(1); 
    opacity: 0;
  }
  30%{
    transform: translate(0%,0%) scale(1); 
    opacity: 0;
  }
  40%{
    transform: translate(0%,0%) scale(1); 
    opacity: 1;
  }
  /* 75% {
    transform: translate(-80%, 0%) scale(1); 
    opacity: 1;
  } */
100% {
  transform: translate(-100%, 0%) scale(1); 
  opacity: 0;
}
}



#TFback{
    background-color: rgba(43, 42, 41, 0.4);
   border:0px;
    color:white;
    left:-1px;
    padding:1%;
    padding-left:4%;
    padding-right:1.5%;
    position: absolute;
    top:3%;
    font-weight:bolder;
    transition: font-size 0.3s ease;
}

#sliderback{
  position:absolute;
  top:50vh;
  left:0px;
  height:10vh;
  justify-content: center;
  background-color: rgba(200, 205, 201, 0.582);
  color:white;
  width:8vw;
}
.next{
  position:absolute;
  top:50vh;
  right:0px;
  height:10vh;
  justify-content: center;
  background-color: rgba(200, 205, 201, 0.582);
  color:white;
  width:8vw;
}
.next:hover{
  background-color: rgba(43, 42, 41, 0.201);
  font-size:medium;    
}
#sliderback:hover{
  background-color: rgba(43, 42, 41, 0.201);
  font-size:medium;    
}

.back:hover{
  background-color: rgba(43, 42, 41, 0.201);
  font-size:medium;    
}

.container {
    position: relative;
    width: 200px;
  height: 200px;
  overflow: hidden;
  }
  
  .shape {
    width: 100%;
    height: 100%;
    background-color: blue;
  clip-path: polygon(3800/263% 11400/558% , 22600/263% 11500/558%, 100% 100%, 0% 100%);
  }
  
  .tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .shape:hover + .tooltip {
    display: block;
  }

/* 

  .coordinates {
    position: absolute;
    top: 10px;
    left: 10px;
  } */

  
.page-transition-out {
    animation: pageOutAnimation 1s forwards;
  }
  
  .page-transition-in {
    animation: pageInAnimation 1s forwards;
  }
  
  @keyframes pageOutAnimation {
    from {
      transform: rotateY(0deg);
      opacity:1;
    }
    to {
      transform: rotateY(-180deg);
      opacity:0;
    }
  }
  
  @keyframes pageInAnimation {
    from {
      transform: rotateY(180deg);
      opacity:0;
    }
    to {
      transform: rotateY(0deg);
      opacity:1;
    }
  }



.top,
.bottom {
    position: absolute;
    width: 100vw;
    height: 50%;
    opacity: 0;
    background-image: url('pic/p24.jpeg'); /* 设置你的图片路径 */
    background-size: 100% auto;
     /* 上半部分使用center top，下半部分使用center bottom */
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

.top {
    top: 0;
    background-position: center top;
    animation-name: moveTop;
}

.bottom {
    bottom: 0;
    background-position: center bottom;
    animation-name: moveBottom;
}
#jxf{
  position: absolute;
  left:25vw;
  width:60vw;
  bottom:30vh;
  animation: disappear 3s;
  opacity:0;
  animation-delay: 4s;
}
@keyframes disappear {
  0%{
    opacity:0;
  }60%{
    opacity:1;
  }100%{
    opacity:0;
  }
  
}
@keyframes moveTop {
    0% {
      opacity:0;
        transform: translateY(0%);
    }
    30%{
      opacity:1;
    }
    100% {
      opacity: 0;
        transform: translateY(50%) scale(2);
    }
}

@keyframes moveBottom {
    0% {
        opacity:0;
        transform: translateY(0%) scale(2);
    }
    30%{
      opacity:0.5;
    }
    100% {
      opacity: 0;
        transform: translateY(-50%);
    }
}
#nextpic{
  position:absolute;
  background: none;
  color:black;
  border: 0;
  font-size: 10vh;
  top:28vh;
  left:77vw;
  rotate:15deg;
  text-shadow: #49a7c4 2px 2px 2px;
  transition: color 0.5s ease;
}
#nextpic:hover{
  color:#49a7c4;
}

#picframe{
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  top:34.85vh;
  bottom:23vh;
  left:18.2vw;
  right:18.1vw;
  overflow:hidden;
}
.q31{
  width:100%;
  height:auto;
  transition: all 2s ease;
}
.q31:hover{
  transform: scale(0.8);
  opacity: 0.4;
}
